@import '../../utils/_variables.scss';

.landing {
  position: relative;

  .btn {
    height: 48px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18);
    background-color: $purple;
    padding: 11px;
    color: #fff;
  }
}

.landing-1 {
  padding: 0 15px 58px;
  text-align: center;

  &_img {
    width: 100%;
    padding: 0 24px 40px;
  }

  &_title {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -0.4px;
    line-height: 38px;
    margin-bottom: 19px;
  }

  &_p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.1px;
    line-height: 24px;
  }

  &_title,
  &_p {
    text-align: left;
  }

  &_btn-signup {
    width: 100%;
    margin: 80px 0 21px;
  }

  &_link-login {
    margin-top: 21px;
  }
}

.landing-2 {
  height: 100%;
  width: 100%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  background-color: $background-landing-two;
  padding: 20px;

  &_title {
    color: $orange;
    margin-top: 1rem;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
  }

  &_p {
    padding-bottom: 62px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.1px;
    line-height: 24px;
  }

  &_icon {
    height: 42px;
    width: 40px;
  }
}

.landing-3 {
  // background: url('../img/los-angeles.png') no-repeat center center/cover;
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $background-landing-three;
  padding: 21px 0 67px;

  &_img {
    padding-bottom: 0;
  }

  &_title {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -0.4px;
    line-height: 38px;
    padding: 32px 15px 31px;
  }

  &_p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.1px;
    line-height: 24px;
    padding: 0 15px 60px;
  }

  &_btn-signup {
    width: calc(100% - 30px);
  }
}

.fas {
  font-size: 33px;
}
