/* Fonts */
$main-font: 'Circular Std', sans-serif;
/* Text Color */
$text-color-primary: #3d3d3d;

/* Primary Colors */
$background-color: #fff;
$background-landing-two: #f9f9f9;
$background-landing-three: #ffeba8;
$background-footer: #f1f1f1;
$purple: #aeacfd;
$orange: #ff824d;

$orange-button: #ffa179;

$nav-color: black;
$input-color: rgba(0, 0, 0, 0.08);

/* breakpoints */
$break-xs: 320px;
$break-mobile: 480px;
$break-tablet: 765px;
$break-desktop: 976px;
$break-desktop-l: 1070px;
$break-xl: 2000px;
